// Colores
$color-primary: #238636; // Verde GitHub
$color-primary-hover: #2ea043; // Verde GitHub hover
$color-secondary: rgb(1, 150, 1);
$color-dark: rgba(36, 34, 34, 0.965);
$color-light: #f9f9f9;
$color-card-bg: rgb(236, 247, 247);
$color-footer-bg: rgba(0, 0, 0, 0.75);
$color-whatsapp: #25d366;


// Fuentes
$font-primary: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Espaciados
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

// Tamaños
$max-width-card: 280px;
$max-width-container: 1200px;
